<a href="https://colab.research.google.com/github/216soumya/python/blob/main/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
print(type('Soumya'))
print(type(1))

x = 10
y = 20
print(x + y)

x, y = y, x
print(x, y)

<class 'str'>
<class 'int'>
30
20 10

In [6]:
divisor, divident = 9, 7
ans = divident / divisor
print(ans)
a, b, c, d = 2, 34, 6, 45

ans = a + b * c / d
print(ans)

# ** is power
exp = a ** b
print(exp)

mod = b % a
print(mod)

# // returns integer division result
intDiv = d // a
# / returns float division result
div = d / a
print(div, intDiv)

0.7777777777777778
6.533333333333333
17179869184
0
22.5 22

In [10]:
num = 100
print(num * 2)
print(num)

num *= 3
print(num)

200
100
300

In [16]:
#bool
is_active = True
inactive = not is_active
print(is_active)
print(not is_active)

#str
new_string = "hello i am soumya!"
print(new_string)

#list
my_number = [1, 2, 4, 3]
print(type(my_number))
print(my_number[2])

#dict
my_name = {'first_name': "soumya", 'last_name': "ranjan"}
print(my_name)


#list
my_number = [1, 2, 4, 3]
print(my_number)
print(my_number[2])

True
False
hello i am soumya!
<class 'list'>
4
{'first_name': 'soumya', 'last_name': 'ranjan'}
[1, 2, 4, 3]
4

In [22]:
int = 65
print(type(int))

<class 'int'>

In [29]:
print("What's your favorite game?")
game = input()
print("Your fav is: " + game)

What's your favorite game?
cricket
Your fav is: cricket

In [31]:
name = "soumya"

if name is "soumya":
    print("First Name")
elif name is "ranjan":
    print("Last Name")
else:
    print("Wrong Name")

First Name

In [33]:
name = "ranjan"
if name == "soumya":
    print("First Name")
elif name == "ranjan":
    print("Last Name")
else:
    print("Wrong Name")

Last Name

In [47]:
age, sex = 18, "male"

if age > 18 and sex is "male":
    print("Go and Get Marry")
else:
    print("You don't have to marry")

You don't have to marry

In [50]:
name = "soumya"

for char in name:
    print(char)

# range(a, b, c): >=a to < b, c is the weight of each step[optional]
for number in range(-3, 5, 2):
    print(number)

prices = [10, 12, 15, 9, 11, 13]

for price in prices:
    print(price)

for _ in range(4):
    print("lol")

s
o
u
m
y
a
-3
-1
1
3
10
12
15
9
11
13
lol
lol
lol
lol

In [54]:
val = 10

while val < 20:
    print(val)
    

print("what's the password?")
msg = input()
while msg != "password":
    print("WRONG!")
    print("what's the password?")
    msg = input()
print("CORRECT!")

10
12
14
16
18
what's the password?
password
CORRECT!

In [57]:
my_list = ["soumya", 20, True, 45.678]

print(my_list)
print(len(my_list))

for item in my_list:
    print(item, end=' ')
print()

r = range(-10, 10)
print(r)
print(list(r))

games = ["cricket", "hockey", "football", "WWE"]

# iterate using for-loop
for game in games:
    print(color, end=' ')
print()

# iterate using while loop
x = 0
while x < len(games):
    print(colors[x], end=' ')
    x += 1

['soumya', 20, True, 45.678]
4
soumya 20 True 45.678
range(-10, 10)
[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
blue blue blue blue
purple teal magenta blue

In [63]:
list = []
list.append(10)
list.append(20)
list.append(30)
print(list)

list_one = [1, 2, 4]
list_two = [5, 6, 7, 8]
list_one.insert(2, 3)
print(list_one)

demo = list_one
print(demo.pop())
print(demo.pop(1))

nums = [1, 3, 4, 6, 5, 4]
nums.remove(5)
print(nums)

[10, 20, 30]
[1, 2, 3, 4]
4
2
[1, 3, 4, 6, 4]

In [73]:
list1 = [1, 2, 3, 4, 1, 1, 1, 4, 5]
 
print(list1.index(3))
 
list2 = ['cat', 'bat', 'mat', 'cat', 'pet']
 
print(list2.index('pet'))

2
4

In [75]:
first_list = [1, 2, 3, 4, 5, 6]
# exclusing counting
print(first_list[2:])       
print(first_list[:4])       
print(first_list[1:5])      

# [start:end:step]
print(first_list[10:])      
print(first_list[1::3])     
print(first_list[1:6:2])    
print(first_list[::2])      

print(first_list[1::-1])    
print(first_list[:1:-1])    
print(first_list[2::-1])

[3, 4, 5, 6]
[1, 2, 3, 4]
[2, 3, 4, 5]
[]
[2, 5]
[2, 4, 6]
[1, 3, 5]
[2, 1]
[6, 5, 4, 3]
[3, 2, 1]

In [77]:
nums = [1, 2, 3, 4]

nums = [x*10 for x in nums]

print(nums)
print([x * 10 for x in nums])

name = 'soumya'

_name = [char.upper() for char in name]
print(_name)

friends = ["sriju", "tani", "puja"]

print([friend[0].upper() for friend in friends])
# print(my_friend)

numbers = range(1, 11)

evens = [x for x in numbers if x % 2 == 0]
odds  = [x for x in numbers if x % 2 == 1]
print(evens)
print(odds)

special = [x * 2 if x % 2 == 0 else x / 2 for x in numbers]
print(special)

[10, 20, 30, 40]
[100, 200, 300, 400]
['S', 'O', 'U', 'M', 'Y', 'A']
['S', 'T', 'P']
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
[0.5, 4, 1.5, 8, 2.5, 12, 3.5, 16, 4.5, 20]

In [78]:
maze = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

for row in maze:
    for val in row:
        print(val, end=' ')
    print()
print(maze[2][2])
print()
print()
[[print(val) for val in row ] for row in maze]

1 2 3
4 5 6
7 8 9
9


1
2
3
4
5
6
7
8
9

[[None, None, None], [None, None, None], [None, None, None]]

In [81]:
person = {
    'first_name': "soumya",
    'last_name': "ranjan",
    'age': 20,
    'sex': "Male",
    'married': False
}

print(person['first_name'])
print(person['sex'])

for key in person.keys():
    print(key)

for value in person.values():
    print(value)

for key, value in person.items():
    print(f"{key} : {value}")

if 'sex' in person.values():
    print("Yes, it have!")

soumya
Male
first_name
last_name
age
sex
married
soumya
ranjan
20
Male
False
first_name : soumya
last_name : ranjan
age : 20
sex : Male
married : False

In [83]:
playlist = {
    'title': "music list",
    'author': "Humayun",
    'songs': [
        {
            'song_title': "Song One",
            'artist': ['Artist 1', 'Artist 2'],
            'duration': 4.31,
        },
        {
            'song_title': "Song Two",
            'artist': ['Artist 1'],
            'duration': 2.53,
        },
        {
            'song_title': "Song Three",
            'artist': ['Artist 1', 'Artist 2', 'Artist 3'],
            'duration': 3.43,
        }
    ]
}

total_duration = 0.0
for song in playlist['songs']:
    total_duration += song['duration']
    print(song['song_title'])
print(total_duration)

Song One
Song Two
Song Three
10.27

In [87]:
nums = {
    'a': 1,
    'b': 2,
    'c': 3
}
sq_nums = {key: value **3 for key, value in nums.items()}
print(sq_nums)

sq_numbers = {num: num**4 for num in [1, 2, 3, 4, 5]}
print(sq_numbers)

str1 = 'ABC'
str2 = '123'
combo = {str1[i]:str2[i] for i in range(0, len(str1))}
print(combo)

num_list = [10, 20, 30, 40, 50, 60]
parity = {num:("even" if num % 2 == 0 else "odd") for num in num_list}
print(parity)

{'a': 1, 'b': 8, 'c': 27}
{1: 1, 2: 16, 3: 81, 4: 256, 5: 625}
{'A': '1', 'B': '2', 'C': '3'}
{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even'}

In [89]:
def wish_birthday():
    print("Happy Birth Day")


wish_birthday()


def square_number(number):
    return number * number


val = square_number(5)
print(val)

Happy Birth Day
25

In [104]:
from random import random


def flip_coin():
    rand = random()
    if rand >= 0.5:
        return "Heads"
    else:
        return "Tails"


# function ovverriding
def flip_coin():
    if random() >= 0.5:
        return "HEADS"
    else:
        return "TAILS"


print(flip_coin())
print(flip_coin())
print(flip_coin())
print(flip_coin())

HEADS
HEADS
HEADS
TAILS

In [100]:
def add(a, b):
    return a * b

print(add(7, 3))

x = 7
y = 3
z = x * y


def full_name(first_name, last_name,):
    print(f"Your Name is {first_name} {last_name}")
    print(f"your age is { z }")
full_name("soumya", "ranjan")

21
Your Name is soumya ranjan
your age is 21

In [103]:
def my_function(country = "india"):
  print("I am from " + country)

my_function("Sweden")
my_function("norway")
my_function()
my_function("Brazil")

I am from Sweden
I am from norway
I am from india
I am from Brazil